/* Start custom CSS for html, class: .elementor-element-5bf6b17 */.elementor-72 .elementor-element.elementor-element-5bf6b17 div{
     display: flex;
     justify-content: center;
     align-items: center;
 }
.elementor-72 .elementor-element.elementor-element-5bf6b17 i{
        color:transparent;
        -webkit-text-stroke: 2px pink;
        font-size: 75px;
        display: block;
    }
.elementor-72 .elementor-element.elementor-element-5bf6b17 h4{
    
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3340953 */.elementor-72 .elementor-element.elementor-element-3340953: hover{
    color: red;
}/* End custom CSS */