.elementor-289 .elementor-element.elementor-element-5f3ce9c > .elementor-background-overlay{background-color:#000000;opacity:1;}@media(min-width:768px){.elementor-289 .elementor-element.elementor-element-3224c17{width:39.772%;}.elementor-289 .elementor-element.elementor-element-aafe55b{width:14.047%;}.elementor-289 .elementor-element.elementor-element-8f8b3be{width:25.507%;}.elementor-289 .elementor-element.elementor-element-df92ebb{width:20.63%;}}/* Start custom CSS for text-editor, class: .elementor-element-e576db6 */.elementor-289 .elementor-element.elementor-element-e576db6 p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4bcd8fe */.elementor-289 .elementor-element.elementor-element-4bcd8fe p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-3185675 */.elementor-289 .elementor-element.elementor-element-3185675 a{
    color: #7A7A7A;
}
.elementor-289 .elementor-element.elementor-element-3185675 a:hover{
    color: #87CEFA;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-8daec41 */.elementor-289 .elementor-element.elementor-element-8daec41 p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-f9343aa */.elementor-289 .elementor-element.elementor-element-f9343aa a{
    color: #7A7A7A;
}
.elementor-289 .elementor-element.elementor-element-f9343aa a:hover{
    color: #87CEFA;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7ac068b */.elementor-289 .elementor-element.elementor-element-7ac068b p{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6b92b4e */.elementor-289 .elementor-element.elementor-element-6b92b4e a{
    color: #7A7A7A;
}
.elementor-289 .elementor-element.elementor-element-6b92b4e a:hover{
    color: #87CEFA;
}
.elementor-289 .elementor-element.elementor-element-6b92b4e li{
    list-style-type: square;
}/* End custom CSS */